In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pandas as pd

In [2]:
# Primera base de datos de Saber 11 2021 (principalmente Calendario B)

df1=pd.read_csv("Datos/SB11_20211.txt", sep = "¬" , encoding = 'utf-8', 
                   names=["ESTU_TIPODOCUMENTO", "ESTU_NACIONALIDAD", "ESTU_GENERO", "ESTU_FECHANACIMIENTO",
              "PERIODO","ESTU_CONSECUTIVO", "ESTU_ESTUDIANTE", "ESTU_PAIS_RESIDE", 
              "ESTU_TIENEETNIA", "ESTU_DEPTO_RESIDE", "ESTU_COD_RESIDE_DEPTO",
              "ESTU_MCPIO_RESIDE", "ESTU_COD_RESIDE_MCPIO", "FAMI_ESTRATOVIVIENDA",
              "FAMI_PERSONASHOGAR", "FAMI_CUARTOSHOGAR", "FAMI_EDUCACIONPADRE",
              "FAMI_EDUCACIONMADRE", "FAMI_TRABAJOLABORPADRE", "FAMI_TRABAJOLABORMADRE", 
              "FAMI_TIENEINTERNET", "FAMI_TIENECOMPUTADOR", "FAMI_TIENELAVADORA",
              "FAMI_TIENEHORNOMICROOGAS", "FAMI_TIENESERVICIOTV", "FAMI_TIENEAUTOMOVIL",
              "FAMI_TIENEMOTOCICLETA","FAMI_TIENECONSOLAVIDEOJUEGOS", "FAMI_NUMLIBROS",
              "FAMI_COMELECHEDERIVADOS","FAMI_COMECARNEPESCADOHUEVO", "FAMI_COMECEREALFRUTOSLEGUMBRE", 
              "FAMI_SITUACIONECONOMICA", "ESTU_DEDICACIONLECTURADIARIA","ESTU_DEDICACIONINTERNET",
              "ESTU_HORASSEMANATRABAJA", "ESTU_TIPOREMUNERACION", "COLE_CODIGO_ICFES",
              "COLE_COD_DANE_ESTABLECIMIENTO", "COLE_NOMBRE_ESTABLECIMIENTO", "COLE_GENERO",
                          "COLE_NATURALEZA","COLE_CALENDARIO", "COLE_BILINGUE", "COLE_CARACTER","COLE_COD_DANE_SEDE",
              "COLE_NOMBRE_SEDE", "COLE_SEDE_PRINCIPAL","COLE_AREA_UBICACION", "COLE_JORNADA",
              "COLE_COD_MCPIO_UBICACION", "COLE_MCPIO_UBICACION","COLE_COD_DEPTO_UBICACION",
              "COLE_DEPTO_UBICACION","ESTU_PRIVADO_LIBERTAD","ESTU_COD_MCPIO_PRESENTACION",
              "ESTU_MCPIO_PRESENTACION","ESTU_DEPTO_PRESENTACION","ESTU_COD_DEPTO_PRESENTACION",
              "PUNT_LECTURA_CRITICA","PERCENTIL_LECTURA_CRITICA","DESEMP_LECTURA_CRITICA",
              "PUNT_MATEMATICAS", "PERCENTIL_MATEMATICAS", "DESEMP_MATEMATICAS", "PUNT_C_NATURALES",
              "PERCENTIL_C_NATURALES","DESEMP_C_NATURALES", "PUNT_SOCIALES_CIUDADANAS",
              "PERCENTIL_SOCIALES_CIUDADANAS", "DESEMP_SOCIALES_CIUDADANAS",
              "PUNT_INGLES", "PERCENTIL_INGLES", "DESEMP_INGLES", "PUNT_GLOBAL",
              "PERCENTIL_ESPECIAL_GLOBAL", "PERCENTIL_GLOBAL","ESTU_ESTADOINVESTIGACION"])

/var/folders/gk/7kfjrptn36bg3k1rj_t88dj80000gn/T/ipykernel_93502/2797783743.py:1: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df1=pd.read_csv("Datos/SB11_20211.txt", sep = "¬" , encoding = 'utf-8',

In [3]:
df1.head()

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_ESPECIAL_GLOBAL,PERCENTIL_GLOBAL,ESTU_ESTADOINVESTIGACION
0,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_ESPECIAL_GLOBAL,PERCENTIL_GLOBAL,ESTU_ESTADOINVESTIGACION
1,TI,COLOMBIA,M,05/11/2003,20211,SB11202110042506,ESTUDIANTE,COLOMBIA,No,VALLE,...,56,40,3,61,35,A2,303,NaN,46,PUBLICAR
2,TI,COLOMBIA,F,06/10/2004,20211,SB11202110041799,ESTUDIANTE,COLOMBIA,No,VALLE,...,61,53,3,69,45,B1,325,NaN,62,PUBLICAR
3,TI,COLOMBIA,F,01/10/2003,20211,SB11202110043835,ESTUDIANTE,COLOMBIA,No,VALLE,...,73,90,4,69,46,B1,374,NaN,92,PUBLICAR
4,TI,COLOMBIA,F,13/01/2003,20211,SB11202110043668,ESTUDIANTE,COLOMBIA,No,VALLE,...,53,32,2,60,33,A2,282,NaN,34,PUBLICAR

In [4]:
df1 = df1.iloc[1:, :]

In [5]:
df1.head()

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_ESPECIAL_GLOBAL,PERCENTIL_GLOBAL,ESTU_ESTADOINVESTIGACION
1,TI,COLOMBIA,M,05/11/2003,20211,SB11202110042506,ESTUDIANTE,COLOMBIA,No,VALLE,...,56,40,3,61,35,A2,303,NaN,46,PUBLICAR
2,TI,COLOMBIA,F,06/10/2004,20211,SB11202110041799,ESTUDIANTE,COLOMBIA,No,VALLE,...,61,53,3,69,45,B1,325,NaN,62,PUBLICAR
3,TI,COLOMBIA,F,01/10/2003,20211,SB11202110043835,ESTUDIANTE,COLOMBIA,No,VALLE,...,73,90,4,69,46,B1,374,NaN,92,PUBLICAR
4,TI,COLOMBIA,F,13/01/2003,20211,SB11202110043668,ESTUDIANTE,COLOMBIA,No,VALLE,...,53,32,2,60,33,A2,282,NaN,34,PUBLICAR
5,TI,COLOMBIA,F,29/08/2004,20211,SB11202110043350,ESTUDIANTE,COLOMBIA,No,VALLE,...,53,34,2,60,33,A2,288,NaN,38,PUBLICAR

In [6]:
df1.shape

(15528, 78)

In [7]:
# Segunda base de datos de Saber 11 2021 (principalmente Calendario A)

df2=pd.read_csv("Datos/SB11_20212.txt", sep = "¬" , header=None, encoding = 'utf-8', 
                   names=["ESTU_TIPODOCUMENTO", "ESTU_NACIONALIDAD", "ESTU_GENERO",
                          "ESTU_FECHANACIMIENTO", "PERIODO", "ESTU_CONSECUTIVO",
                          "ESTU_ESTUDIANTE", "ESTU_PAIS_RESIDE", "ESTU_TIENEETNIA",
                          "ESTU_DEPTO_RESIDE", "ESTU_COD_RESIDE_DEPTO", "ESTU_MCPIO_RESIDE",
                          "ESTU_COD_RESIDE_MCPIO", "FAMI_ESTRATOVIVIENDA", "FAMI_PERSONASHOGAR",
                          "FAMI_CUARTOSHOGAR", "FAMI_EDUCACIONPADRE", "FAMI_EDUCACIONMADRE",
                          "FAMI_TRABAJOLABORPADRE", "FAMI_TRABAJOLABORMADRE", "FAMI_TIENEINTERNET",
                          "FAMI_TIENESERVICIOTV", "FAMI_TIENECOMPUTADOR", "FAMI_TIENELAVADORA",
                          "FAMI_TIENEHORNOMICROOGAS", "FAMI_TIENEAUTOMOVIL", "FAMI_TIENEMOTOCICLETA",
                          "FAMI_TIENECONSOLAVIDEOJUEGOS", "FAMI_NUMLIBROS", "FAMI_COMELECHEDERIVADOS",
                          "FAMI_COMECARNEPESCADOHUEVO", "FAMI_COMECEREALFRUTOSLEGUMBRE", 
                          "FAMI_SITUACIONECONOMICA", "ESTU_DEDICACIONLECTURADIARIA",
                          "ESTU_DEDICACIONINTERNET", "ESTU_HORASSEMANATRABAJA", "ESTU_TIPOREMUNERACION",
                          "COLE_CODIGO_ICFES", "COLE_COD_DANE_ESTABLECIMIENTO", "COLE_NOMBRE_ESTABLECIMIENTO",
                          "COLE_GENERO", "COLE_NATURALEZA", "COLE_CALENDARIO", "COLE_BILINGUE",
                          "COLE_CARACTER", "COLE_COD_DANE_SEDE", "COLE_NOMBRE_SEDE", "COLE_SEDE_PRINCIPAL",
                          "COLE_AREA_UBICACION", "COLE_JORNADA", "COLE_COD_MCPIO_UBICACION", "COLE_MCPIO_UBICACION",
                          "COLE_COD_DEPTO_UBICACION", "COLE_DEPTO_UBICACION", "ESTU_PRIVADO_LIBERTAD",
                          "ESTU_COD_MCPIO_PRESENTACION", "ESTU_MCPIO_PRESENTACION", "ESTU_DEPTO_PRESENTACION",
                          "ESTU_COD_DEPTO_PRESENTACION", "PUNT_LECTURA_CRITICA", "PERCENTIL_LECTURA_CRITICA", 
                          "DESEMP_LECTURA_CRITICA", "PUNT_MATEMATICAS", "PERCENTIL_MATEMATICAS", "DESEMP_MATEMATICAS",
                          "PUNT_C_NATURALES", "PERCENTIL_C_NATURALES", "DESEMP_C_NATURALES", "PUNT_SOCIALES_CIUDADANAS",
                          "PERCENTIL_SOCIALES_CIUDADANAS", "DESEMP_SOCIALES_CIUDADANAS", "PUNT_INGLES", 
                          "PERCENTIL_INGLES", "DESEMP_INGLES", "PUNT_GLOBAL", "PERCENTIL_GLOBAL", 
                          "PERCENTIL_ESPECIAL_GLOBAL", "ESTU_INSE_INDIVIDUAL", "ESTU_NSE_INDIVIDUAL", 
                          "ESTU_NSE_ESTABLECIMIENTO", "ESTU_ESTADOINVESTIGACION", "ESTU_GENERACION-E"
                       ])

/var/folders/gk/7kfjrptn36bg3k1rj_t88dj80000gn/T/ipykernel_93502/2996843722.py:1: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df2=pd.read_csv("Datos/SB11_20212.txt", sep = "¬" , header=None, encoding = 'utf-8',

In [8]:
df2.head()

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,PERCENTIL_ESPECIAL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_GENERACION-E
0,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,PERCENTIL_ESPECIAL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_GENERACION-E
1,TI,COLOMBIA,F,09/01/2004,20214,SB11202140617020,ESTUDIANTE,COLOMBIA,No,CALDAS,...,6,A-,158,2,NaN,48.7650763110128,2,2,PUBLICAR,GENERACION E - GRATUIDAD
2,TI,COLOMBIA,M,06/04/2005,20214,SB11202140623058,ESTUDIANTE,COLOMBIA,No,CALDAS,...,30,A-,179,8,NaN,47.6571760959939,2,2,PUBLICAR,NO
3,TI,COLOMBIA,F,28/03/2004,20214,SB11202140623602,ESTUDIANTE,COLOMBIA,No,CALDAS,...,29,A-,239,47,NaN,37.5028573315051,1,1,PUBLICAR,NO
4,TI,COLOMBIA,F,28/04/2005,20214,SB11202140622167,ESTUDIANTE,COLOMBIA,No,RISARALDA,...,38,A-,232,42,NaN,44.0924029308367,2,1,PUBLICAR,GENERACION E - GRATUIDAD

In [9]:
df2 = df2.iloc[1:, :]

In [10]:
df2.head()

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,PERCENTIL_ESPECIAL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_GENERACION-E
1,TI,COLOMBIA,F,09/01/2004,20214,SB11202140617020,ESTUDIANTE,COLOMBIA,No,CALDAS,...,6,A-,158,2,NaN,48.7650763110128,2,2,PUBLICAR,GENERACION E - GRATUIDAD
2,TI,COLOMBIA,M,06/04/2005,20214,SB11202140623058,ESTUDIANTE,COLOMBIA,No,CALDAS,...,30,A-,179,8,NaN,47.6571760959939,2,2,PUBLICAR,NO
3,TI,COLOMBIA,F,28/03/2004,20214,SB11202140623602,ESTUDIANTE,COLOMBIA,No,CALDAS,...,29,A-,239,47,NaN,37.5028573315051,1,1,PUBLICAR,NO
4,TI,COLOMBIA,F,28/04/2005,20214,SB11202140622167,ESTUDIANTE,COLOMBIA,No,RISARALDA,...,38,A-,232,42,NaN,44.0924029308367,2,1,PUBLICAR,GENERACION E - GRATUIDAD
5,TI,COLOMBIA,F,16/11/2004,20214,SB11202140633564,ESTUDIANTE,COLOMBIA,No,CALDAS,...,55,A1,270,69,NaN,51.5977592692164,3,2,PUBLICAR,GENERACION E - GRATUIDAD

In [11]:
df2.shape

(532979, 82)

In [12]:
# Append las dos bases de datos

df = df1.append(df2, ignore_index = True)

/var/folders/gk/7kfjrptn36bg3k1rj_t88dj80000gn/T/ipykernel_93502/3276714334.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2, ignore_index = True)

In [13]:
df

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_ESPECIAL_GLOBAL,PERCENTIL_GLOBAL,ESTU_ESTADOINVESTIGACION,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_GENERACION-E
0,TI,COLOMBIA,M,05/11/2003,20211,SB11202110042506,ESTUDIANTE,COLOMBIA,No,VALLE,...,35,A2,303,NaN,46,PUBLICAR,NaN,NaN,NaN,NaN
1,TI,COLOMBIA,F,06/10/2004,20211,SB11202110041799,ESTUDIANTE,COLOMBIA,No,VALLE,...,45,B1,325,NaN,62,PUBLICAR,NaN,NaN,NaN,NaN
2,TI,COLOMBIA,F,01/10/2003,20211,SB11202110043835,ESTUDIANTE,COLOMBIA,No,VALLE,...,46,B1,374,NaN,92,PUBLICAR,NaN,NaN,NaN,NaN
3,TI,COLOMBIA,F,13/01/2003,20211,SB11202110043668,ESTUDIANTE,COLOMBIA,No,VALLE,...,33,A2,282,NaN,34,PUBLICAR,NaN,NaN,NaN,NaN
4,TI,COLOMBIA,F,29/08/2004,20211,SB11202110043350,ESTUDIANTE,COLOMBIA,No,VALLE,...,33,A2,288,NaN,38,PUBLICAR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548502,CC,COLOMBIA,M,06/09/2000,20214,SB11202140640990,ESTUDIANTE,COLOMBIA,No,BOYACA,...,72,A1,169,NaN,5,PUBLICAR,49.592397459126,2,2,NO
548503,CC,COLOMBIA,M,19/04/2000,20214,SB11202140626437,ESTUDIANTE,COLOMBIA,Si,CHOCO,...,17,A-,170,NaN,5,PUBLICAR,43.5094286258723,2,1,GENERACION E - GRATUIDAD
548504,TI,COLOMBIA,M,20/11/2003,20214,SB11202140639119,ESTUDIANTE,COLOMBIA,No,PUTUMAYO,...,66,A1,247,NaN,53,PUBLICAR,36.7590711291671,1,2,GENERACION E - GRATUIDAD
548505,TI,COLOMBIA,M,15/01/2004,20214,SB11202140637423,ESTUDIANTE,COLOMBIA,Si,CHOCO,...,20,A-,146,NaN,1,PUBLICAR,46.9742648123335,2,2,GENERACION E - GRATUIDAD
548506,CC,COLOMBIA,F,19/12/2003,20214,SB11202140634983,ESTUDIANTE,COLOMBIA,No,CORDOBA,...,16,A-,196,NaN,17,PUBLICAR,NaN,NaN,3,NO

In [14]:
# Exportar base de datos
df.to_csv("Saber2021.csv", index = False)